<script type="application/ld+json">
[
	{
		"@context": "http://schema.org/",
		"@type": "Service",
		"name": "{{ .Title }}",
		"description": "{{ .Summary }}",
		"provider": {
			"@type": "Organization",
			"name": "{{ .Site.Params.name }}"
		},
		"aggregateRating": {
			"@type": "AggregateRating",
			"ratingValue": "5",
			"reviewCount": "20"
		},
		<!-- "isSimilarTo": {
			"@type": "Service",
			"name": "{{ delimit .Parent.Pages ", " }}"
		},
		"isRelatedTo": {
			"@type": "Service",
			"name": "{{ .Title }}"
		} -->
	}
]
</script>
