{{ if isset .Params "location" }}{{ $location := index .Site.Data.location .Params.location }}
<script type='application/ld+json'> 
{
    "@context": "http://www.schema.org",
    "@type": "LocalBusiness",
    "name": "{{ .Site.Params.name }}",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ .Site.BaseURL }}"
    },
    "address": [
        {
        "@type": "PostalAddress",
        "streetAddress": "{{ $location.address.street }}",
        "addressLocality": "{{ $location.address.city }}",
        "addressRegion": "{{ $location.address.region }}",
        "addressCountry": "{{ $location.address.country }}",
        "postalCode": "{{ $location.address.postalcode }}"
        }
    ],
    "telephone": "{{ .Site.Params.phone }}",
    "image": "{{ .Site.BaseURL }}{{ $location.thumbnail }}",
    "priceRange": "{{ .Site.Params.pricerange }}",
    "location": [
        {
        "@type": "PostalAddress",
        "telephone": "{{ .Site.Params.phone }}",
        "streetAddress": "{{ $location.address.street }}",
        "addressLocality": "{{ $location.address.city }}",
        "addressRegion": "{{ $location.address.region }}",
        "addressCountry": "{{ $location.address.country }}",
        "postalCode": "{{ $location.address.postalcode }}",
        "serviceArea": [
            {
            "@type": "postalAddress",
            "addressLocality":"{{ $location.address.city }}",
            "addressRegion": "{{ $location.address.region }}",
            "addressCountry": "{{ $location.address.country }}"
            }
        ]
    }
  ]
}
</script>
{{ end }}