{{ if isset .Params "author" }}
{{ $author := index .Site.Data.team .Params.author }}
{{ $location := index .Site.Data.location .Site.Params.primarylocation }}
<script type="application/ld+json">
{
"@context": "http://www.schema.org",
"@type": "Person",
"@id": "{{ .Permalink }}",
"name": "{{ $author.name }}",
"alternateName": "{{ $author.name }}",
{{ if $author.nationality }}"nationality": "{{ $author.nationality }}",{{ end }}
{{ if $author.address }}
"birthPlace" : {
	"@type": "Place",
    "address": {
  		"@type": "PostalAddress",
		"addressLocality": "{{ $author.address.city }}",
		"addressRegion": "{{ $author.address.region }}",
        "addressCountry": "{{ $author.address.country }}"
	}
},{{ end }}
"affiliation": [
	{
		"@type": "Organization",
		"name": "{{ .Site.Params.name }}",
		"sameAs": [ {{ partial "schemas/schema_Social.html" .Site.Params }}
		]
  	}
],
{{ if $author.education }}
"alumniOf": [
	{
	 "@type": "CollegeOrUniversity",
	 "name": "{{ $author.education.university }}",
	 "sameAs": "{{ $author.education.url }}"
	}
],
{{ end }}
{{ if $author.gender }}"gender": "{{ $author.gender }}",{{ end }}
{{ if $author.jobfunction }}"Description": "{{ $author.jobfunction }}",{{ end }}
{{ if $author.description }}"disambiguatingDescription": "{{ $author.description }},{{ end }}
{{ if $author.jobtitle }}"jobTitle": "{{ $author.jobtitle }}",{{ end }}
"worksFor": [
	{
		"@type": "Organization",
		"name": "{{ .Site.Params.name }}",
		"sameAs": [ {{ partial "schemas/schema_Social.html" .Site.Params }}
		]
	}
],
"url": "{{ .Site.BaseURL }}",
"image": "{{ $author.thumbnail | absURL }}",
{{ if $author.address }}
"address": {
	"@type": "PostalAddress",
	"addressLocality": "{{ $author.address.city }}",
	"addressRegion": "{{ $author.address.region }}",
	"addressCountry": "{{ $author.address.country }}"
},{{ end }}
"sameAs": [ {{ partial "schemas/schema_Social.html" $author }}
	]
}
</script>
{{ end }}